.profilePic{
    border-radius: 100% !important;
    height: 70px !important;
    width: 70px !important;
}

.productImage{
    width: 250px !important;
    height: 200px !important;
}

.notFound{
    height: 500px;
    width: 500px;
    }

    .ml{
        margin-left: 20px;
    }
    .center{
margin-left: 150px;    }